@model IEnumerable<pms_alpha1.TBL_Vendor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VendorCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAniversary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NativeLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicQualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessionalQualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlternateEmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlternateNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseNo_StreetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnyOtherExprience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeofConnection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternetAvailabilityPerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternetServiceProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternetDownTimePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityDownTimePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IFSCCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PanNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBANCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SWIFTCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneyBookerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayPalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadPersonalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_M_City.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_M_Country.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_M_Domain.Domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_M_State.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VendorCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAniversary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NativeLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicQualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionalQualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlternateEmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlternateNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseNo_StreetNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnyOtherExprience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeofConnection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternetAvailabilityPerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternetServiceProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternetDownTimePerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityDownTimePerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountHolderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IFSCCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PanNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBANCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SWIFTCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoneyBookerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayPalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadPersonalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_M_City.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_M_Country.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_M_Domain.Domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_M_State.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendorID })
        </td>
    </tr>
}

</table>
